* {
  margin: 0;
  padding: 0;
}
#nav-container {
  display: flex;
  border: 0px solid red;
  background-color: #303030;
  position: fixed;
  width: 100%;
  height: 90px;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

#nav-container > a > img {
  border: 0px solid yellow;
  width: 160px;
  height: 37px;
  margin-left: 156%;
}

#mid-section {
  border: 0px solid teal;
  display: flex;
  width: 26%;
  height: 55px;

  margin-top: -10px;
  font-family: "source sans pro", sans-serif;
}

#mid-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 40px;
}
#mid-section ul li {
  list-style-type: none;
  border: 0px solid red;
  /* color: #fff; */
}
#mid-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

#last-section {
  border: 0px solid blue;
  display: flex;
  margin-right: 5%;
  cursor: pointer;
}
#last-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 13px;
  margin-top: -9px;
  position: relative;
  right: 100px;
}
#last-section ul li a {
  text-decoration: none;
  font-size: 16px;
  font-family: "source sans pro", sans-serif;
}
#last-section ul li {
  list-style-type: none;
}
#login {
  display: flex;
  width: 70px;
  height: 42px;
  border: 1px solid #fff;
  background-color: #303030;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
#login a {
  color: #fff;
}
#login:hover {
  background-color: rgb(88, 88, 88);
}
#trial {
  display: flex;
  width: 153px;
  height: 42px;
  padding: 0px 5px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: "source sans pro", sans-serif;
}
#trial a {
  color: black;
}
#trial:hover {
  background-color: rgb(88, 88, 88);
}
#trial:hover > a {
  color: #fff;
}

.search-box {
  position: absolute;
  top: 22%;
  left: 58%;
  padding: 10px;
  margin-right: 20px;
  border: none;
}
.search-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.4s;
  color: #fff;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #fff;
  font-size: 16px;
  transition: 0.5s;
  line-height: 20px;
  width: 0px;
}

.section-20 {
  display: flex;
  width: 100%;
  margin-top: 10px;
  height: 850px;
  background-color: #303030;
  margin: auto;
}
.section-20 > div {
  border: 0px solid blue;
  width: 33%;
  margin: auto;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section-20 .left-part {
  margin-left: 360px;
  display: flex;
}
.section-20 .right-part {
  margin-right: 200px;
}

.left-part h1 {
  border: 0px solid salmon;
  width: 80%;
  margin: auto;
  font-size: 67px;
  font-family: "Barlow semi condensed";
  letter-spacing: 1px;
  color: #fff;
  font-weight: 300;
}
.left-part p {
  border: 0px solid salmon;
  width: 85%;
  margin: auto;
  font-size: 19px;
  line-height: 30px;
  margin-left: 59px;
  font-family: "Barlow semi condensed";
  color: #fff;
  letter-spacing: 0.5px;
}
.left-part a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffa1a1;
  border: 3px solid #ffa1a1;
  border-radius: 2px;
  width: 70%;
  margin: auto;
  width: 225px;
  height: 71px;
  font-size: 20px;
  font-family: "source sans pro", sans-serif;
  text-decoration: none;
  margin-left: 55px;
}
.left-part a:hover {
  background-color: #ffa1a1;
  color: #303030;
}
